h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: $fontMain;
  color: $colorDark;
}

h1,
.caption--h1 {
  font-size: 85px;
  line-height: 80px;
}

h2,
.caption--h2 {
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: -0.05em;
}

h3,
.caption--h3 {
  font-size: 35px;
  line-height: 40px;
}
