.grettings-section {
  padding: 0 18px;
}

.grettings {
  background-color: $colorGray;
  padding-bottom: 50px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.grettings-slider {
  background-color: $colorGray;
  width: 100%;
  padding: 67px 98px 38px;
  position: relative;
  overflow: visible;

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    .grettings-slide {
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
    }

    &.swiper-slide-active {
      opacity: 1;
      pointer-events: initial;

      .grettings-slide {
        opacity: 1;
        pointer-events: initial;

        .caption__text {
          &:nth-child(1) {
            transform: translateX(0%);
          }

          &:nth-child(2) {
            transform: translateX(0%);
          }

          &:nth-child(3) {
            transform: translateX(0%);
          }

          &:nth-child(4) {
            transform: translateX(0%);
          }
        }

        .picture {
          transform: translateX(0%);
        }
      }
    }
  }
}

.grettings-slide {
  .caption {
    transition: all 0.5s;
  }

  .caption__text {
    font-size: 150px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: -0.06em;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: rgba(34, 29, 29, 1);
    text-transform: none;
    position: relative;

    &:nth-child(1) {
      transform: translateX(-100%);
      transition: transform 0.5s;
    }

    &:nth-child(2) {
      font-size: 110px;
      line-height: 115px;
      transition: transform 1s;
      transform: translateX(-100%);
    }

    &:nth-child(3) {
      font-size: 85px;
      line-height: 85px;
      font-weight: 600;
      transition: transform 1.5s;
      transform: translateX(-100%);
    }

    &:nth-child(4) {
      font-size: 85px;
      line-height: 85px;
      font-weight: 600;
      transition: transform 2s;
      transform: translateX(-100%);
    }
  }

  .picture {
    position: absolute;
    left: calc(50% - 345px);
    top: 53px;
    width: 2425px;
    height: 608px;
    transition: transform 1s;
    transform: translateX(100%);

    img {
    }
  }
}

.grettings-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 122px;
}

.grettings-item {
  width: 100%;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(141, 154, 163, 1);
}

.grettings-item__icon {
  width: 60px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grettings-btn {
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  padding: 33px 0 41px;
  width: calc(100% + 42px);
  background-color: $colorRed;
  text-decoration: underline;
  color: $colorWhite;
  display: block;
  text-align: center;
  position: relative;
  left: -21px;
  text-decoration-skip-ink: none;
  text-underline-offset: 12px;
  transition: background-color 0.3s;

  &__text {
    position: relative;

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.6294 29C10.5948 29 10.5641 29 10.5296 28.9962C9.74995 28.9584 9.08172 28.4595 8.83209 27.7339L0.10282 2.47198C-0.131445 1.79545 0.0413734 1.06224 0.552149 0.55579C1.05908 0.0493423 1.80413 -0.128292 2.49156 0.0946958L28.6947 8.58714C29.4398 8.82903 29.9505 9.48287 29.9966 10.2539C30.0427 11.0249 29.6126 11.7316 28.8983 12.0567L17.2887 17.3366L12.3499 27.9115C12.0388 28.5805 11.3706 29 10.6294 29ZM3.77042 3.69274L10.7907 24.0149L14.6772 15.6887C14.8654 15.2843 15.1957 14.9593 15.6066 14.7741L24.9004 10.5449L3.77042 3.69274ZM17.4692 16.9473C17.4692 16.9511 17.4692 16.9511 17.4692 16.9473V16.9473Z' fill='white'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      background-size: contain;
      right: -40px;
      top: 30px;
    }
  }

  &:hover {
    background-color: rgba(202, 0, 13, 1);
  }
}

.about-section {
  padding: 83px 0;
}

.about-slider {
  max-width: 1381px;
  width: 100%;
  overflow: visible;

  .swiper-slide {
    padding: 50px 89px;
    background-color: $colorGray;
    border-radius: 70px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 580px;

    & > * {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &.swiper-slide-active {
      & > * {
        opacity: 1;
      }
    }
  }

  .caption {
    display: block;
    margin-bottom: 49px;
    max-width: 620px;
    width: 100%;
  }

  &__content {
    max-width: 620px;
    min-height: 300px;
  }

  .small {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    & + .small {
      margin-top: 30px;
    }
  }

  .big {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;

    & + .big {
      margin-top: 30px;
    }
  }

  .picture {
    position: absolute;
    right: -35px;
    bottom: 0;
    width: 541px;
    height: 520px;
    mix-blend-mode: multiply;

    img {
      object-fit: contain;
    }
  }

  .swiper-btn-prev {
    position: absolute;
    left: -160px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  .swiper-btn-next {
    position: absolute;
    right: -160px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
}

.text-scroll {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  height: 100%;

  .text-scroll__line {
    & + .text-scroll__line {
      margin-top: 20px;
    }
  }

  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    display: block;
    color: rgba(141, 154, 163, 1);
  }
}

.colors-section {
  padding: 0 21px;

  &__inner {
    background-color: $colorGray;
    border-radius: 70px;
  }
}

.colors-block {
  padding: 71px 89px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  z-index: 3;

  .caption {
    margin-bottom: 24px;
  }
}

.color-block__left {
  width: 50%;
  max-width: 675px;

  span {
    display: block;
  }

  p + p {
    margin-top: 25px;
  }
}

.colors-slider {
  background-color: $colorWhite;
  padding: 18px 54px;
  margin-top: 41px;
  border-radius: 30px;
  border: solid 1px rgba(34, 29, 29, 1);
}

.colors-slider__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.colors-slider__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.05em;
}

.colors-slider__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.05em;
  color: rgba(141, 154, 163, 1);
}

.colors-slider__slider {
  margin-top: 36px;
  overflow: visible;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.05em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .swiper-btn-prev {
    position: absolute;
    left: -35px;
    top: calc(50% - 12px);
    transform: translateY(-50%);
    z-index: 5;
  }

  .swiper-btn-next {
    position: absolute;
    right: -35px;
    top: calc(50% - 12px);
    transform: translateY(-50%);
    z-index: 5;
  }
}

.color-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  .circle {
    cursor: pointer;
    position: relative;
    width: 66px;
    height: 66px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px transparent;

    @include before {
      opacity: 0;
      background-position: center;
      background-repeat: no-repeat;
      border: solid 1px rgba(0, 0, 0, 1);
      width: 34px;
      height: 34px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translateY(-50%) translateX(-50%);
      background-color: rgba(255, 255, 255, 0.45);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_79_376)'%3e%3cpath d='M14.46 13.67C14.42 13.63 14.38 13.59 14.34 13.54C13.46 12.66 12.59 11.79 11.71 10.91C11.61 10.81 11.56 10.74 11.69 10.62C11.79 10.53 11.86 10.41 11.92 10.29C11.99 10.26 12.01 10.2 12.04 10.15C13.04 8.61003 13.39 6.92003 12.95 5.15003C12.28 2.42003 10.53 0.75003 7.79 0.14003C6.86 -0.07997 5.92 -0.02997 5 0.20003C4.28 0.38003 3.6 0.66003 2.98 1.09003C2.95 1.11003 2.91 1.13003 2.88 1.15003C1.54 2.08003 0.650003 3.33003 0.230003 4.90003C-0.129997 6.26003 -0.0799972 7.62003 0.460003 8.93003C1.39 11.17 3.06 12.54 5.45 13.01C6 13.12 6.57 13.13 7.13 13.08C7.81 13.02 8.46 12.86 9.09 12.59C9.64 12.35 10.16 12.06 10.63 11.68C10.74 11.59 10.8 11.57 10.91 11.68C11.7 12.48 12.5 13.28 13.3 14.08C13.43 14.21 13.55 14.34 13.69 14.46C13.91 14.66 14.24 14.65 14.45 14.44C14.65 14.23 14.66 13.9 14.46 13.67ZM9.91 10.82C9.23 11.35 8.47 11.7 7.63 11.87C4.6 12.47 1.71 10.46 1.22 7.46003C0.870003 5.28003 1.64 3.50003 3.4 2.15003C3.51 2.07003 3.62 1.98003 3.73 1.90003C3.98 1.78003 4.23 1.66003 4.49 1.54003C4.95 1.34003 5.43 1.22003 5.92 1.16003C7.51 0.99003 8.92 1.41003 10.12 2.46003C11.17 3.37003 11.78 4.53003 11.94 5.91003C12.09 7.17003 11.82 8.34003 11.15 9.42003C11.14 9.44003 11.13 9.46003 11.12 9.48003C10.78 10 10.39 10.45 9.91 10.82Z' fill='black'/%3e%3cpath d='M9 6.95662H6.96875V9H6.03125V6.95662H4V6.05479H6.03125V4H6.96875V6.05479H9V6.95662Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_79_376'%3e%3crect width='14.6' height='14.6' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }

  &:hover {
    .circle {
      &::before {
        opacity: 1;
      }
    }
  }
}

.color-block__right {
  width: 50%;
  height: 681px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50px 50px 0px 0px;
  overflow: hidden;
  z-index: -1;

  .picture {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
    }
  }
}

.color-block__bottom {
  width: 100%;
  background-color: $colorRed;
  border-radius: 30px;
}

.color-block__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: $colorWhite;
  padding: 53px 150px;

  li {
    display: flex;
    align-items: center;
    gap: 35px;
    width: calc(100% / 3 - 150px);
  }
}

.modal__container {
  max-width: 560px;
}

#modal-colors .modal__container {
  max-width: 732px;
}

.popup-colors {
  background-color: #fff;
  border-radius: 40px;
  padding: 44px 62px;
  display: flex;
  align-items: center;

  &__color {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    padding: 30px 30px 70px;
    margin-right: 50px;
    mask-image: url("../img/mask.png");
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  .name {
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .code {
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    display: block;
    padding-bottom: 20px;
    border-bottom: solid 1px $colorBlack;
    width: 100%;
  }

  .fullname {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05em;
    text-align: left;
    max-width: 166px;
    display: block;
    width: 100%;

    strong {
      display: block;
      font-size: 30px;
      line-height: 35px;
      font-weight: 700;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }
}

.form-section {
  padding: 85px 21px;

  &__inner {
    padding: 95px 88px;
    background-color: $colorGray;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
  }

  .input-item {
    width: calc(50% - 10px);

    input {
      background-color: rgba(215, 221, 225, 1);
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      border-radius: 50px;
      padding: 0 45px;
      height: 74px;
      width: 100%;
    }
  }

  .textarea-input {
    width: 100%;

    textarea {
      padding: 33px 45px;
      height: 133px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.05em;
      text-align: left;
    }
  }
}

.form-section__left {
  width: 100%;
  max-width: 659px;
}

.form-section__caption {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section__caption-line {
  &:nth-child(1) {
    font-size: 100px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.05em;
    color: $colorRed;
  }

  &:nth-child(2) {
    font-size: 55px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.05em;
  }
}

.form-section__desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(141, 154, 163, 1);
  margin-top: 25px;
  display: block;
  max-width: 435px;
}

.form-section__right {
  width: calc(60% - 96px);
  padding: 50px 61px 50px 111px;
  border-left: solid 3px rgba(207, 218, 226, 1);
}

.form-section__result {
  border: solid 1px rgba(189, 189, 189, 1);
  background-color: $colorWhite;
  border-radius: 50px;
  width: 100%;
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px 30px 43px;

  .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: rgba(141, 154, 163, 1);
    max-width: 250px;
  }

  .result {
    font-size: 60px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.05em;
    background-color: $colorRed;
    padding: 35px 41px;
    color: $colorWhite;
    border-radius: 40px;
  }
}

.faq-section {
  padding: 0 18px;

  &__inner {
  }
}

.faq-block {
  border-radius: 70px;
  max-width: 1695px;
  margin: 0 auto;

  .caption {
    max-width: 43%;
    width: 100%;
  }
}

.faq-list {
  margin-top: 49px;
  max-width: 100%;
  width: 100%;
  height: 565px;
  margin-bottom: 79px;

  .mCustomScrollBox {
    padding-left: 0;
    margin-left: 0;
  }

  .mCSB_scrollTools {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    width: 7px;
    background-color: rgba(238, 241, 243, 1);
    border-radius: 20px;
  }

  .mCSB_inside > .mCSB_container {
    margin-right: 165px;
  }

  .mCSB_draggerRail {
    display: none;
  }

  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: red;
    width: 7px;
  }
}

.faq-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  & + .faq-item {
    margin-top: 26px;
    border-top: solid 1px rgb(0, 0, 0);
    padding-top: 60px;
  }

  &.opened {
    .faq-item__quest {
      color: rgba(34, 29, 29, 1);
    }
  }
}

.faq-item__num {
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: rgba(141, 154, 163, 1);
}

.faq-item__quest {
  cursor: pointer;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: rgba(141, 154, 163, 1);
  margin-top: 20px;
}

.faq-item__answer {
  display: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 20px;

  a {
    text-decoration: underline;
    transition: text-decoration 0.3s;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.partners-section {
  margin: 85px 0;
  padding: 69px 111px 7px;
  border-top: solid 1px rgba(34, 29, 29, 1);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include before {
    width: calc(50% - 9px);
    left: calc(50% + 28px);
    top: calc(100% + 5px);
    height: 1px;
    background-color: rgba(141, 154, 163, 1);
    transform: translateX(-50%) translateY(-50%);
  }

  .caption {
    max-width: 380px;
  }

  .text {
    text-align: right;
    transform: translateY(55px);
  }
}

.partners-slider {
  margin-top: 122px;
  width: 100%;
  max-width: 1410px;
  overflow: visible;
  z-index: auto;

  .swiper-wrapper {
  }

  .swiper-slide {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }

    &:hover {
      .picture {
        filter: contrast(1);
      }
    }
  }

  .picture {
    display: block;
    cursor: pointer;
    position: relative;
    width: 260px;
    margin: auto;
    height: 192px;
    @include invisLink;
    filter: contrast(0);
    transition: all 0.3s;
    z-index: 5;

    img {
      object-fit: contain;
      width: 60%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .swiper-btn-prev {
    position: absolute;
    left: -160px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  .swiper-btn-next {
    position: absolute;
    right: -160px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
}

marquee {
  font-size: 100px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -0.05em;
  color: rgba(227, 230, 232, 1);
  padding: 10px;
  position: relative;
  left: -25px;
  width: calc(100% + 50px);
  border-bottom: solid 1px $colorBlack;
  padding-bottom: 50px;

  span {
    margin: 0 40px;
  }
}

.documents-section {
  padding: 55px 21px;
}

.documents-section__inner {
  padding: 75px 90px;
  background-color: $colorGray;
  border-radius: 50px;

  .caption {
  }
}

.documents-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 51px;
}

.documents-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $colorWhite;
  border-radius: 70px;
  padding: 29px;
  gap: 25px;

  .picture {
    border-radius: 30px;
    width: 100%;
    padding-top: calc(324 / 330 * 100%);
    overflow: hidden;
    position: relative;
    z-index: 2;

    @include before {
      background-color: rgba(238, 241, 243, 1);
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
    }

    img {
      object-position: top;
    }
  }

  .name {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.05em;
    display: block;
    text-align: center;
  }

  &--exel {
    .picture::before {
      opacity: 1;
      background-image: url("../img/doc-exel.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
    }
  }

  &--word {
    .picture::before {
      opacity: 1;
      background-image: url("../img/doc-word.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
    }
  }
}

.documents-item__load {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(141, 154, 163, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: all 0.3s;

  &:hover {
    background-color: $colorRed;
  }
}

.info-section {
  border-top: solid 1px rgba(34, 29, 29, 1);
  margin-top: 50px;
  padding: 50px 100px 77px;

  &__text {
    margin-top: 69px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    display: flex;
    flex-direction: column;

    strong {
      font-size: 20px;
      font-weight: 700;
      line-height: 33px;
      text-align: center;
      margin-top: 11px;
      display: block;
      text-transform: uppercase;
    }
  }
}

.slider-info-wrapper {
  padding: 0 21px;

  .info-text {
    background-color: $colorRed;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
    padding: 36px 50px;
    border-radius: 30px;
    color: $colorWhite;
    width: 100%;
    margin: 0 auto;
    margin-top: -59px;
    z-index: 5;
    position: relative;
  }
}

.slider-info {
  position: relative;
  background-color: $colorGray;
  width: 100%;
  border-radius: 30px;
  overflow: visible;
  padding-bottom: 50px;
  margin-top: 30px;

  .swiper-slide {
    opacity: 0;
    pointer-events: none;
    margin-top: -65px;
    transition: all 0.3s;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .swiper-btn-prev {
    position: absolute;
    left: 65px;
    top: calc(100% - 167px);
    z-index: 5;
  }

  .swiper-btn-next {
    position: absolute;
    right: 65px;
    top: calc(100% - 167px);
    z-index: 5;
  }

  .icon {
    width: 107px;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorWhite;
    border-radius: 50%;
    margin: 0 auto;
  }
  .txt {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 20px auto 0;
  }
}

.delivery-section {
}

.delivery-section__head {
  padding: 64px 110px 46px;

  .caption {
    max-width: 40%;
  }
}

.delivery-section__body {
}

.delivery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  padding: 0 21px;
}

.delivery-item {
  padding: 40px 94px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.05em;
  background-color: $colorGray;
  border-radius: 50px;

  .caption {
    min-height: 162px;
    display: block;
  }
}

.delivery-item__list {
  li {
    position: relative;
    padding-left: 20px;

    @include before {
      width: 8px;
      height: 8px;
      background-color: $colorRed;
      border-radius: 50%;
      top: 8px;
      left: 0;
    }
    & + li {
      margin-top: 35px;
    }
  }
}

.commercial-offer {
  .form-section__inner {
    padding-bottom: 200px;
  }

  .grettings-btn {
    margin-top: -151px;
  }
}

.contacts-section {
  padding: 19px 21px;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px rgb(34, 29, 29);
  margin-top: 60px;
}

.contacts-section__left {
  padding: 42px 90px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__text {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.05em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px;
  max-width: 90%;

  p {
    max-width: 400px;
  }
}

.contacts__links {
  margin-top: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;

  a {
    font-size: 33px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.05em;
    text-align: left;
    @include text-decoration-hover($colorRed);
  }
}

.contacts__whatt {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.05em;
  margin-top: 49px;
  display: flex;
  align-items: center;
  gap: 9px;
  transition: color 0.3s;

  span {
    color: #b8bfc6;
    font-size: 18px;
    transition: color 0.3s;
  }

  &:hover {
    color: $colorRed;

    span {
      color: $colorRed;
    }
  }
}

.contacts__mail {
  font-size: 33px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.05em;
  margin-top: 68px;
  @include text-decoration-hover($colorRed);
}

.contacts-section__right {
  width: 50%;
}

.map {
  width: 100%;
  height: 605px;
  border-radius: 50px;
  overflow: hidden;
}

#modal-colors .modal__close {
  background-color: transparent;
}

.popup {
  background-color: $colorWhite;
  border-radius: 40px;
  padding: 87px 25px 40px;

  .desc {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    display: block;
    margin-top: 15px;
    color: rgba(141, 154, 163, 1);
  }

  .input-item {
    width: 100%;
    margin-top: 30px;

    input {
      background-color: rgba(215, 221, 225, 1);
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      border-radius: 50px;
      padding: 0 45px 5px;
      height: 74px;
      width: 100%;
    }

    textarea {
      background-color: rgba(215, 221, 225, 1);
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      border-radius: 40px;
      padding: 20px 45px;
      height: 74px;
      width: 100%;
      height: 110px;
      border: 0;
      resize: none;
    }

    & + .input-item {
      margin-top: 20px;
    }
  }

  .check-block {
    padding: 20px 0;
  }

  .grettings-btn {
    margin-top: 0;
    left: -25px;
    width: calc(100% + 50px);
    padding: 12px 0 22px;
    font-size: 20px;
    text-underline-offset: 8px;
  }

  .grettings-btn__text::before {
    width: 20px;
    height: 20px;
    right: -30px;
    top: 23px;
  }
}

.popup-succes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  min-height: 520px;
  padding: 0 30px;
}

.input-file {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  input {
    display: none;
  }

  .doc-name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: $colorRed;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: $colorRed;
    text-decoration: underline;
    transition: all 0.3s;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.not-page {
  position: relative;
  padding: 0 18px;
  margin-bottom: 50px;

  &__inner {
    position: relative;
    padding: 80px;
    background-color: $colorGray;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
  }

  .pic1 {
    width: 900px;
    height: 221px;
    transform: rotate(-15deg);
    left: -340px;
    top: 70px;
  }
  .pic2 {
    width: 1200px;
    height: 320px;
    transform: rotate(15deg);
    left: auto;
    right: -120px;
    top: auto;
    bottom: 230px;
  }
  .pic3 {
    filter: blur(5px);
    opacity: 0.33;
    width: 245px;
    height: 60px;
    left: calc(50% - 245px);
    transform: rotate(15deg);
    top: 90px;
  }
  .pic4 {
    filter: blur(5px);
    opacity: 0.33;
    width: 385px;
    height: 100px;
    left: calc(50% + 560px);
    transform: rotate(-15deg);
    top: 90px;
  }

  &__title {
    font-size: 150px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: $colorRed;
    display: block;
  }

  &__code {
    font-size: 110px;
    font-weight: 800;
    line-height: 120px;
    color: rgba(34, 29, 29, 1);
    display: block;
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: rgba(141, 154, 163, 1);
    display: block;
  }

  .grettings-btn {
    margin-top: 50px;
    width: calc(100% + 222px);
    left: -111px;
  }
}
