@media (max-width: 767px) {
  .grettings-slide {
    .caption__text {
      font-size: 55px;
      line-height: 40px;

      &:nth-child(1) {
      }

      &:nth-child(2) {
        font-size: 50px;
        line-height: 60px;
      }

      &:nth-child(3) {
        font-size: 40px;
        line-height: 50px;
      }

      &:nth-child(4) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  .logo picture {
    width: 177px;
    height: 57px;
  }

  .header__top {
    padding: 4px 20px;
  }

  .grettings-slider {
    padding: 10px 20px 10px;
  }

  .logo__text {
    font-size: 12px;
    line-height: 14px;
  }

  .grettings-slide .picture {
    left: calc(50% - 75px);
    top: 30px;
    width: 1000px;
    height: 250px;
  }

  .grettings-item {
    font-size: 12px;
    line-height: 16px;
    max-width: 45%;
    gap: 10px;
  }

  .grettings-btn {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    padding: 15px 0 25px;
    text-underline-offset: 7px;
  }

  .grettings-btn__text::before {
    top: 15px;
    width: 20px;
    height: 20px;
    right: -25px;
  }

  .grettings-item__icon {
    width: 30px;
    height: 45px;
  }

  .grettings-list {
    margin-top: 40px;
  }

  .about-slider .caption {
    max-width: 70%;
  }

  .about-slider__content {
    max-width: 70%;
  }

  .about-section {
    padding: 30px 0;
  }

  .about-slider .big {
    font-size: 14px;
    line-height: 20px;
  }

  h2,
  .caption--h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .text-scroll {
    height: 260px;
  }

  .color-block__left {
    width: 100%;
    max-width: 100%;
  }

  .color-block__right {
    width: 100%;
    position: relative;
    height: auto;
    padding-top: calc(400 / 537 * 100%);
    margin-top: 20px;
    border-radius: 30px;
  }

  .color-block__list li {
    width: 100%;
  }

  .color-block__list {
    flex-wrap: wrap;
    gap: 25px;
  }

  .colors-block {
    padding: 15px 15px;
  }

  .colors-slider__title {
    font-size: 16px;
  }

  .colors-slider__desc {
    font-size: 12px;
  }

  .form-section__left {
    width: 100%;
    max-width: 100%;
  }

  .form-section__inner {
    flex-wrap: wrap;
  }

  .form-section__right {
    padding: 15px 0;
    border: 0;
    border-top: solid 2px rgb(207, 218, 226);
    margin-top: 15px;
    max-width: 100%;
    width: 100%;
  }

  .form-section__result {
    text-align: left;
    justify-content: space-between;
  }

  .form-section {
    padding: 30px 21px;
  }

  .faq-block .caption {
    max-width: 60%;
  }

  .faq-item__quest {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }

  .faq-item__num {
    font-size: 16px;
    line-height: 24px;
  }

  .faq-item {
    padding-bottom: 0;
  }

  .faq-item + .faq-item {
    margin-top: 15px;
    padding-top: 15px;
  }

  .documents-section__inner {
    border-radius: 30px;
  }

  .faq-list {
    height: 230px;
  }

  .documents-list {
    margin-top: 15px;
  }

  .documents-section {
    padding: 30px 18px;
  }

  .documents-section__inner {
    padding: 30px 15px;
  }

  .documents-item__load {
    width: 35px;
    height: 35px;

    svg {
      width: 15px;
    }
  }

  .documents-item .name {
    font-size: 12px;
    line-height: 20px;
  }

  .section-title::before {
    width: calc(50% - 79px);
    left: 0;
    transform: translateX(0px);
    top: calc(100% + 7px);
  }

  .commercial-offer .grettings-btn {
    margin-top: -100px;
  }

  .commercial-offer .form-section__inner {
    padding-bottom: 100px;
  }

  .contacts-section__left {
    width: 100%;
    padding: 0;
  }

  .contacts-section__right {
    width: 100%;
    margin-top: 30px;
  }

  .map {
    height: 300px;
  }

  .footer .logo {
    align-items: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }

  .modal__container {
    padding: 15px 10px;
  }

  .popup {
    border-radius: 40px;
    padding: 17px 15px 20px;
    overflow: hidden;
  }

  .modal__close {
    width: 36px;
    height: 36px;

    svg {
      width: 12px;
    }
  }

  .popup .input-item textarea {
    height: 100px;
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 30px;
  }
  .popup .input-item input {
    height: 55px;
    padding: 0 30px;
    font-size: 14px;
  }

  .popup .desc {
    font-size: 12px;
    line-height: 16px;
    margin-top: 15px;
  }

  .popup .input-item {
    margin-top: 20px;
  }

  .popup-succes {
    min-height: 280px;
  }

  .input-file label {
    font-size: 14px;
    line-height: 20px;
  }

  .popup {
    .grettings-btn__text::before {
      top: 15px;
    }
  }

  .not-page__inner {
    min-height: 520px;
    padding: 50px 30px;

    .pic1 {
      width: 480px;
      height: 170px;
      left: -210px;
      top: 20px;
    }

    .pic2 {
      width: 400px;
      height: 100px;
      right: -150px;
      bottom: 160px;
    }

    .pic3 {
      left: calc(50% - -5px);
    }

    .pic4 {
      display: none;
    }
  }

  .not-page__title {
    font-size: 80px;
    line-height: 40px;
  }

  .not-page__code {
    font-size: 80px;
    line-height: 90px;
  }

  .not-page__text {
    font-size: 18px;
    line-height: 22px;
  }

  .popup .grettings-btn {
    font-size: 12px;
    padding: 7px 0 12px;
    text-underline-offset: 4px;
  }
}
