@media (max-width: 479px) {
  .logo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    max-width: 80%;
  }

  .logo__text {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }

  .header__top {
    align-items: flex-start;
    padding: 4px 10px;
  }

  .burger {
    transform: translateY(16px);
    left: -15px;
  }

  .grettings-slide {
    .caption__text {
      font-size: 30px;
      line-height: 25px;

      &:nth-child(2) {
        font-size: 30px;
        line-height: 40px;
      }

      &:nth-child(3) {
        font-size: 18px;
        line-height: 30px;
      }

      &:nth-child(4) {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .grettings-slider {
    padding: 10px 10px 10px;
  }

  .grettings-slide .picture {
    left: calc(50% - 23px);
    top: 48px;
    width: 500px;
    height: 100px;
  }

  .grettings-item {
    font-size: 10px;
    line-height: 14px;
    max-width: 45%;
    gap: 5px;
  }

  .grettings-item__icon {
    width: 25px;
    height: 35px;
  }

  .grettings-list {
    margin-top: 20px;
  }

  .grettings-btn {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    padding: 10px 0 15px;
    text-underline-offset: 4px;
  }

  .grettings-btn__text::before {
    display: none;
  }

  .grettings {
    padding-bottom: 15px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .menu {
    padding: 15px;
  }

  .header__links a {
    font-size: 16px;
    line-height: 20px;
  }

  .header__phone {
    font-size: 16px;
    line-height: 20px;
  }

  .header__call {
    font-size: 12px;
    line-height: 16px;
  }

  .about-slider {
    padding: 0 10px;
  }

  .about-slider__content {
    padding: 5px 20px;
  }

  .about-slider .caption {
    max-width: 80%;
    width: 100%;
  }

  .about-slider .picture {
    right: -35px;
    width: 141px;
    height: 110px;
    bottom: auto;
    top: 0px;
  }

  h2,
  .caption--h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .about-slider .big {
    font-size: 12px;
    line-height: 18px;
  }

  .colors-slider {
    margin-top: 20px;
    padding: 10px 30px;
  }

  .colors-slider__slider .swiper-btn-next svg {
    width: 15px;
    height: 15px;
  }

  .colors-slider__slider .swiper-btn-prev svg {
    width: 15px;
    height: 15px;
  }

  .color-block__list {
    padding: 30px 30px;
  }

  .form-section__caption-line:nth-child(1) {
    font-size: 40px;
    line-height: 30px;
  }

  .form-section__caption-line:nth-child(2) {
    font-size: 16px;
    line-height: 20px;
    max-width: 80%;
  }

  .faq-item__quest {
    font-size: 16px;
    line-height: 20px;
  }

  .faq-item__num {
    font-size: 14px;
    line-height: 20px;
  }

  .faq-list {
    height: 252px;
  }

  .faq-item__answer {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }

  .section-title::before {
    width: 30%;
  }

  h3,
  .caption--h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .section-title .caption {
    max-width: 210px;
  }

  marquee {
    font-size: 40px;
    font-weight: 800;
    line-height: 25px;
    padding-bottom: 20px;
  }

  .documents-item {
    gap: 5px;
  }

  .documents-list {
    grid-template-columns: 1fr;
  }

  .info-section__text {
    font-size: 12px;
    line-height: 18px;
  }

  .info-section__text strong {
    font-size: 16px;
    line-height: 22px;
  }

  .slider-info .txt {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    max-width: 130px;
  }

  .slider-info-wrapper .info-text {
    font-size: 12px;
    line-height: 18px;
    padding: 10px 20px;
  }

  .commercial-offer .grettings-btn {
    margin-top: -70px;
  }

  .commercial-offer .form-section__inner {
    padding-bottom: 70px;
  }

  .check-block label {
    padding-left: 30px;
  }

  .check-block {
    padding: 5px 0;
  }

  .map {
    height: 180px;
  }

  .contacts__text {
    font-size: 12px;
    line-height: 18px;
  }

  .contacts__links {
    gap: 10px;

    a {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .contacts__whatt {
    font-size: 12px;
    line-height: 18px;

    span {
      font-size: 10px;
    }
  }

  .contacts__mail {
    font-size: 16px;
    line-height: 20px;
  }

  .not-page__title {
    font-size: 50px;
    line-height: 20px;
  }

  .not-page__code {
    font-size: 60px;
    line-height: 90px;
  }

  .not-page__text {
    font-size: 14px;
    line-height: 18px;
  }

  .not-page__inner {
    min-height: 410px;
    padding: 30px 15px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .not-page__inner .pic1 {
    width: 420px;
    height: 120px;
    left: -110px;
    top: 20px;
  }

  .not-page__inner .pic2 {
    display: none;
  }

  .not-page {
    margin-bottom: 30px;
  }
}
