@media (max-width: 1799px) {
  .about-slider .swiper-btn-prev {
    left: -40px;
  }

  .about-slider .swiper-btn-next {
    right: -40px;
  }

  .color-block__left {
    max-width: 615px;
  }

  .color-block__list li {
    gap: 15px;
    width: calc(33.3333333333% - 90px);
  }

  .form-section__caption-line:nth-child(1) {
    font-size: 90px;
    line-height: 65px;
  }

  .form-section__caption-line:nth-child(2) {
    font-size: 45px;
    line-height: 50px;
    max-width: 80%;
  }

  .form-section__right {
    padding: 50px 60px 50px 60px;
  }

  .partners-slider .swiper-btn-next {
    right: -60px;
  }

  .partners-slider .swiper-btn-prev {
    left: -60px;
  }

  .footer-menu {
    padding-left: 75px;
  }

  .not-page {
    .pic1 {
      width: 700px;
      height: 180px;
      left: -340px;
      top: 70px;
    }
    .pic2 {
      width: 1000px;
      height: 250px;
      right: -120px;
      bottom: 230px;
    }
    .pic3 {
      width: 200px;
      height: 40px;
      left: calc(50% - 245px);
      top: 90px;
    }
    .pic4 {
      width: 300px;
      height: 80px;
      left: calc(50% + 560px);
      top: 90px;
    }
  }
}
