@media (max-width: 1199px) {
  .header__links a {
    font-size: 18px;
    line-height: 24px;
  }

  .header__phone {
    font-size: 18px;
    line-height: 24px;
  }

  .logo {
    flex-direction: column;
    gap: 0;
    max-width: 300px;
    text-align: center;
    transform: translateX(0px);
  }

  .logo__text {
    width: 100%;
    max-width: 100%;
  }

  .grettings-slide {
    .caption__text {
      font-size: 80px;
      line-height: 80px;

      &:nth-child(1) {
      }

      &:nth-child(2) {
        font-size: 70px;
        line-height: 70px;
      }

      &:nth-child(3) {
        font-size: 55px;
        line-height: 55px;
      }

      &:nth-child(4) {
        font-size: 55px;
        line-height: 55px;
      }
    }
  }

  .header__right {
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

  .header__top {
    padding: 4px 30px;
  }

  .menu {
    padding: 10px 30px;
  }

  .grettings-slider {
    padding: 15px 30px 15px;
  }

  .grettings-slide .picture {
    left: calc(50% - 135px);
    top: 20px;
    width: 1480px;
    height: 388px;
  }

  .grettings-item {
    max-width: 185px;
    font-size: 14px;
    line-height: 20px;
  }

  .grettings-btn {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 0 30px;
  }

  .grettings-btn__text::before {
    top: 20px;
  }

  .about-slider {
    max-width: 840px;
  }

  .about-slider .picture {
    right: -35px;
    width: 361px;
    height: 360px;
  }

  .about-slider .swiper-slide {
    padding: 30px 30px;
    height: 410px;
    border-radius: 30px;
  }

  .about-slider .big {
    font-size: 16px;
    line-height: 24px;
  }

  .about-slider .small + .small,
  .about-slider .big + .big {
    margin-top: 10px;
  }

  .about-slider .caption {
    margin-bottom: 20px;
  }

  h2,
  .caption--h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .text-scroll {
    font-size: 14px;
    line-height: 20px;
    transform: translateX(20px);
  }

  .text-scroll .text-scroll__line + .text-scroll__line {
    margin-top: 10px;
  }

  .text-scroll span {
    font-size: 16px;
    line-height: 20px;
  }

  .mCSB_inside > .mCSB_container {
    margin-right: 0;
    padding-bottom: 20px;
  }

  .color-block__left {
    max-width: 585px;
    width: 55%;
  }

  .color-block__right {
    width: 40%;
  }

  .color-block__list {
    padding: 50px;
    font-size: 12px;
    line-height: 16px;
  }

  .color-block__list {
    padding: 25px 50px;

    li {
      gap: 10px;
      width: calc(33.3333333333% - 50px);

      img {
        width: 40px;
      }
    }
  }

  .colors-slider__title {
    font-size: 18px;
    line-height: 30px;
  }

  .colors-slider {
    margin-top: 30px;
    padding: 15px 40px;
  }

  .colors-slider__slider .swiper-btn-prev {
    left: -25px;
  }

  .colors-slider__slider .swiper-btn-next {
    right: -25px;
  }

  .colors-slider__desc {
    font-size: 14px;
  }

  .colors-slider__slider {
    margin-top: 15px;
  }

  .colors-section__inner {
    border-radius: 30px;
  }

  .colors-block {
    padding: 30px;
  }

  .form-section__caption-line:nth-child(1) {
    font-size: 60px;
    line-height: 50px;
  }

  .form-section__caption-line:nth-child(2) {
    font-size: 20px;
    line-height: 25px;
    max-width: 60%;
  }

  .form-section__left {
    max-width: 439px;
  }

  .form-section {
    .input-item {
      width: 100%;

      input {
        height: 55px;
      }
    }
  }

  .form-section__result .title {
    font-size: 14px;
    line-height: 18px;
  }

  .form-section__result {
    gap: 20px;
  }

  .form-section__inner {
    padding: 30px;
  }

  .form-section__desc {
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
  }

  .form-section__caption {
    gap: 10px;
  }

  .documents-item .name {
    font-size: 14px;
    line-height: 20px;
  }

  .documents-section__inner {
    padding: 30px;
  }

  .documents-item {
    padding: 15px;
    border-radius: 30px;
  }

  .documents-item .picture {
    border-radius: 15px;
  }

  .slider-info .txt {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
  }

  .slider-info .swiper-slide {
    margin-top: -30px;
  }

  .slider-info .icon {
    width: 60px;
    height: 60px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .slider-info .txt {
    max-width: 200px;
  }

  .slider-info .swiper-btn-prev {
    top: calc(100% - 127px);
  }

  .slider-info .swiper-btn-next {
    top: calc(100% - 127px);
  }

  .slider-info-wrapper .info-text {
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
  }

  .info-section__text {
    margin-top: 50px;
  }

  .info-section {
    padding: 30px 50px 30px;
  }

  .section-title::before {
    width: calc(50% - 149px);
    left: calc(50% + 8px);
  }

  h3,
  .caption--h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .delivery-item {
    padding: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .form-section .textarea-input textarea {
    padding: 15px 30px;
    height: 130px;
    font-size: 12px;
    line-height: 18px;
  }

  .check-block {
    display: flex;
    align-items: center;
    min-height: 24px;
    padding: 5px 15px;

    label {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .form-section .textarea-input textarea {
    border-radius: 30px;
  }

  .contacts-section__left {
    padding: 30px 30px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 22px;
  }

  .contacts__links a {
    font-size: 20px;
    line-height: 24px;
  }

  .contacts__whatt {
    font-size: 16px;
    line-height: 24px;

    span {
      font-size: 14px;
    }
  }

  .contacts__mail {
    font-size: 20px;
    line-height: 24px;
  }

  .contacts-section__left {
    justify-content: center;
  }

  .popup-succes {
    min-height: 320px;
  }

  .not-page__inner {
    min-height: 690px;

    .pic2 {
      width: 750px;
      height: 180px;
      right: -430px;
      bottom: 230px;
    }

    .pic3 {
      left: calc(50% - -5px);
    }

    .pic4 {
      display: none;
    }
  }

  .not-page__title {
    font-size: 100px;
    line-height: 70px;
  }
}
