$fontMain: "Montserrat";
$fontGeologica: "Geologica";

$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);
$colorDark: rgba(34, 29, 29, 1);

$colorGray: rgba(238, 241, 243, 1);
$colorRed: rgba(227, 0, 15, 1);
